{% extends 'navigation.html' %}

{% block content %}
<div class ="container">
    <br></br><h2 class="text-center"><b>About Us</b></h2></div><br></br>
   <h3 >    What is Hospital Management?</h3><br>
   <p>While there are many popular specialisations in management studies, MBA in Hospital Management or MBA in Healthcare Management is gaining prominence in the recent times. This specialisation is a two-year post-graduation program which is offered in many colleges across India and abroad. Hospital Management course trains the students for managerial and administrative roles at a hospital or a healthcare institute.

    Hospital Management is largely offered at the post-graduate level but few courses under healthcare management are also offered at the graduate level. MBA in Hospital Management courses can be pursued full time, online and as distance education.</p>
    <h3 >Hospital Management: Eligibility Criteria & Admission Process</h3><br>
      <ul>
        * Candidates applying for Hospital Management courses must have a graduation degree with minimum of 50% marks in aggregate.
      </ul>
      <ul>
       * Candidate must have qualified at least one MBA entrance exam like CAT/XAT/MAT/GMAT or university level entrance exam.
    </ul>
    <ul>
      * Some top institutes like AIIMS give admissions to Hospital Management courses only to the candidates who have pursued MBBS.
    </ul>
{% endblock %}