{% extends 'navigation.html' %}

{% block content %}
<div class ="container">
   <br> <h2 class="text-center"><b>Contact Us</b></h2><br><br><br></br>

    <div class="col-lg-3">
       <h4>contact</h4>
       <p><a href ="tel:8960670824"><b>+91 8960670824</b></a></p>
    </div><br></br>
    <div class="col-lg-3">
        <h4>Send Email</h4>
        <p><a href ="mailto:prem.188607@knit.ac.in"><b>prem.188607@knit.ac.in</b></a></p>
     </div><br></br>

     <div class="col-lg-3">
        <h4>Office Address</h4>
        <p><a href ="http://maps.google.com/maps?q=pratapgarh+uttarpradesh"><b>Pratapgarh,Uttar Pradesh</b></a></p>
     </div>
     <div class="col-lg-3"><br><br>
        <h4>Office Hours</h4>
        <p><b><font color="sky-blue">7:00 Am to 9:00 Pm </font></b></a></p>
     </div>
</div>

   
{% endblock %}