{% extends 'navigation.html' %}

{% block content %}
<html><head><style>
    #v{
        margin-top: 10px;
        margin-left: 0px;
    }
   #tcss {
    width: 1000px;
  border: 5px solid lightgreen;
  padding: 50px;
  margin-top: 25px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
      
      </style>
</head><body>
<div class ="container" id="v">
    <h2 class="text-center"><font color="lightgreen">VIEW-Patient</font></h2></div><br></br>
    <table class="table table-hover" id="tcss">
        <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Mobile</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for i in pat %}
            <tr>
                
                <td>{{i.name}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.address}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </body>
    </html>
{% endblock %}